@font-face {
    font-family: 'fontello';
    src: url('./font/fontello.eot?16177920');
    src: url('./font/fontello.eot?16177920#iefix') format('embedded-opentype'),
        url('./font/fontello.woff?16177920') format('woff'),
        url('./font/fontello.ttf?16177920') format('truetype'),
        url('./font/fontello.svg?16177920#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.over-size {
    width: 1400px;
    margin: 0 auto;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.contacts-bg {
    background-color: #f0f2f4;
    box-shadow: 0 1px 0 #e2e2e2;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: row nowrap;
}

.phone-contact {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 20px;
    color: #424242;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    border-right: solid 1px #e2e2e2;
}

.mail-contact {
    padding-right: 12px;
    color: #424242;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
}

.contact-facebook-icon {
    width: 26px;
    background-color: #1287bf;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.icon-facebook-1 {
    font-size: 18px;
    text-align: center;
}

.icon-mobile {
    color: #000;
    font-size: 25px;
}

.icon-facebook {
    color: #1287bf;
    font-size: 26px;
}

.icon-mail-alt {
    padding-left: 20px;
    padding-right: 8px;
    font-size: 21px;
}

.icon-paper-plane-empty {
    padding-bottom: 24px;
    font-size: 37px;
    color: #fff;
    opacity: 0.6;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-top: 41px;
    padding-bottom: 41px;
}

.logo:hover {
    opacity: 0.6;
}

.logo-box {
    display: flex;
}

.logo-text {
    padding-left: 15px;
    font-family: Roboto;
    color: #424242;
}

.logo-text h4 {
    font-size: 37px;
    font-weight: 700;
}

.logo-text h5 {
    font-size: 15px;
    font-weight: 400;
}

.logo a {
    text-decoration: none;
}

.greeting-block {
    background: url(../images/header-banner-fon-img.png);
    background-size: cover;
    height: 590px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    flex-direction: row;
}

.menu ul a {
    color: #424242;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 41px;
}

.menu ul a:hover {
    color: #de2b24;
}

.menu a:first-child {
    list-style-type: none;
}

.btn-consultation {
    color: #ffffff;
    text-align: center;
    padding: 11px 25px 12px 25px;
    border-radius: 5px;
    background-color: #de2b24;
    text-decoration: none;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
}

.btn-consultation:hover {
    opacity: 0.6;
}

.greeting-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text-first-part {
    padding-top: 175px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.header-text-second-part {
    padding-bottom: 31px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
}

.btn-header-free-consult {
    width: 330px;
    height: 69px;
    background-color: #f8cd53;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-header-free-consult:hover {
    opacity: 0.6;
}

.about {
    padding-top: 101px;
    text-align: center;
}

.text-description h4 {
    color: #424242;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 26px;
}

.text-description h5 {
    padding-top: 10px;
    color: #424242;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.hr-line {
    width: 47px;
    height: 5px;
    background-color: #424242;
    border: none;
}

.about-us-description {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 46px;
    padding-bottom: 138px;
}

.about-us-box {
    width: 228px;
}

.about-us-box h5 {
    padding-top: 20px;
    color: #424242;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
}

.about-us-box p {
    padding-top: 14px;
    color: #5c5c5c;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.our-work {
    padding-top: 110px;
    padding-bottom: 131px;
    background-color: #de2b24;
    text-align: center;
}

.text-our-work h4,
.text-our-work h5 {
    color: #fff;
}

.hr-line-white {
    margin-top: 10px;
    width: 47px;
    height: 5px;
    background-color: #fff;
    border: none;
}

.projects {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.name-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 253px;
    width: 255px;
}

.empty-project {
    background-color: #f35e59;
}

.name-project h4 {
    color: #fff;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 700;
}

.name-project h5 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
}

.newsletter {
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-get-in {
    padding-top: 90px;
    padding-bottom: 32px;
    text-align: center;
    color: #fff;
    font-family: Roboto;
    font-size: 29px;
    font-weight: 700;
    line-height: 22px;
}

.box-social-btns {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.box-social-btns a {
    text-decoration: none;
}

.social-btn {
    width: 45px;
    height: 45px;
    margin-right: 24px;
    border: 2px solid #515151;
    background-color: #2a2a2a;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-btn:last-child {
    margin-right: 0;
}

.social-btn:hover {
    border: 2px solid #de2b24;
}

.icon-facebook-1 {
    color: #fff;
}

.facebook-size {
    font-size: 22px;
}

.icon-twitter {
    font-size: 17px;
    color: #fff;
}

.icon-gplus {
    font-size: 22px;
    color: #fff;
}

.icon-linkedin {
    font-size: 19px;
    color: #fff;
}

.text-subscribe {
    padding-top: 26px;
    padding-bottom: 28px;
    color: #cecece;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.input-email {
    width: 658px;
    height: 54px;
    background-color: #515151;
    border: none;
    color: #cecece;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 23px;
    margin-bottom: 25px;
}

.subscribe-btn {
    width: 149px;
    height: 52px;
    border: 2px solid #515151;
    background-color: #2a2a2a;
    color: #fff;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 86px;
}

.subscribe-btn:hover {
    opacity: 0.6;
}

.footer-bg {
    background-color: #515151;
}

.footer-text {
    padding-top: 26px;
    padding-bottom: 27px;
    color: #cecece;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}
