@font-face {
    font-family: 'fontello';
    src: url('./font/fontello.eot?16177920');
    src: url('./font/fontello.eot?16177920#iefix') format('embedded-opentype'),
        url('./font/fontello.woff?16177920') format('woff'),
        url('./font/fontello.ttf?16177920') format('truetype'),
        url('./font/fontello.svg?16177920#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.container {
    padding: 0 18px;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.top-nav-mobile {
    background-color: #373c3f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav-desktop {
    display: none;
}

.top-nav-mobile-text {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
}

.top-nav-mobile-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202529;
    text-decoration: none;
    color: #fff;
    border: none;
}

/*============================================*/

.mobile-menu {
    padding: 10px 7px;
    display: flex;
    flex-flow: column nowrap;
    height: 15px;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    background-color: #202529;
}

.mobile-menu > span {
    overflow: hidden;
    text-indent: 100%;

}

.mobile-menu:before,
.mobile-menu:after {
    content: "";
}

.mobile-menu > span,
.mobile-menu:before,
.mobile-menu:after {
    background: hsl(45deg, 100%, 50%);
    background-color: #fff;
    border-radius: 4px;
    height: 3px;
    transition: all 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 20px;
}

.mobile-menu.active > span {
    opacity: 0;
    transform: rotate(45deg);
}

.mobile-menu.active:before {
    transform: translate(-2px, 6px) rotate(45deg);
    width: 20px;
}

.mobile-menu.active:after {
    transform: translate(-2px, -6px) rotate(-45deg);
    width: 20px;
}

/*==================123=====================*/

.top-nav-mobile ul {
    margin: 0;
    list-style: none;
    display: none;
    width: 182px;
    height: 161px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    background-color: #fafafa;
}

.top-nav-mobile .mobile-menu {
    font-size: 18px;
    cursor: pointer;
}

.top-nav-mobile.open ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 36px;
    right: 0px;
}

.top-nav-mobile.open ul li:hover {
    background-color: #f5f5f5;
}

.top-nav-mobile.open ul li {
    padding-left: 12px;
    color: #444;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 31px;
}

.top-nav-mobile.open ul a {
    text-decoration: none;
    color: #444;
}


/*============================================*/


.icon-menu {
    padding: 0 10px;
}

.header-bg {
    background: url(../images/header-fon.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 173px;
}

.header-bg-text {
    padding-top: 19px;
    color: #fff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.header-bg-link {
    padding-top: 11px;
    color: #a6d6e0;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
}

.article {
    margin-top: 4px;
}

.product-gallery {
    display: flex;
    flex-direction: column;
}

.product-gallery-desktop {
    display: none;
}

.product-gallery-pizza-delivery,
.product-gallery-salads,
.product-gallery-desserts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.gallery-text {
    width: 80%;
    color: #fff;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
}

.product-gallery-pizza-delivery-text,
.product-gallery-salads-text,
.product-gallery-desserts-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-gallery-pizza-delivery-text {
    background: url(../images/Pizza_delivery_fon_640.jpg) no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 75px;
    max-height: 150px;
}

.product-gallery-salads-text {
    background: url(../images/UX_Salads_fon_640.jpg) no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 75px;
    max-height: 150px;
}

.product-gallery-desserts-text {
    background: url(../images/Desserts_fon_640.jpg) no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 75px;
    max-height: 150px;
}

.product-gallery-link,
.product-gallery-link,
.product-gallery-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    max-width: 200px;
    max-height: 150px;
    background-color: #acd8ad;
    text-decoration: none;
}

.icon-angle-right {
    color: #fff;
}

.icon-size {
    height: 25px;
    width: 25px;
}

.menu {
    display: flex;
    flex-flow: column wrap;
}

.menu-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
}

.menu-description-logo {
    display: none;
}

.menu-description-desktop {
    display: none;
}

.menu-description-upper {
    padding-top: 23px;
    text-align: center;
    color: #3f4043;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.menu-description-low {
    padding-top: 4px;
    color: #cbccce;
    font-family: Lato;
    font-size: 10px;
    font-weight: 400;
}

.menu-food-description {
    margin-top: 10px;
    background-color: #3f4043;
}

.menu-food-description-text {
    padding: 12px 0px 12px 19px;
    color: #acd8ad;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.menu-food-title {
    padding-top: 11px;
    padding-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-food-title-text {
    color: #3f4043;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.menu-food-main-position {
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-food-main-position-name,
.menu-food-main-position-price {
    color: #3f4043;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}

.menu-food-main-position-price {
    float: right;
}

.menu-food-main-position-description {
    padding-top: 8px;
    color: #3f4043;
    font-family: Lato;
    font-size: 9px;
    font-weight: 400;
}

.menu-bar-description {
    margin-top: 10px;
    background-color: #acd8ad;
}

.menu-bar-description-text {
    padding: 12px 0px 12px 19px;
    color: #fff;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #acd8ad;
    margin: 48px 0px 22px 0px;
}

.footer-logo {
    display: none;
}

.footer-text {
    width: 320px;
    padding: 13px 0px;
    color: #fff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}

@media all and (min-width: 640px) and (max-width: 979px) {
    .container {
        padding: 0px 38px;
    }

    .top-nav-mobile-text {
        padding-top: 26px;
        padding-bottom: 26px;
        color: #fff;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
    }

    .mobile-menu {
        padding: 22px 10px;
        height: 30px;
        width: 60px;
    }

    .mobile-menu > span,
    .mobile-menu:before,
    .mobile-menu:after {
        background: hsl(45deg, 100%, 50%);
        background-color: #fff;
        height: 3px;
        transition: all 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
        width: 40px;
    }

    .mobile-menu.active:before {
        transform: translate(1px, 14px) rotate(45deg);
        width: 50px;
    }

    .mobile-menu.active:after {
        transform: translate(1px, -12px) rotate(-45deg);
        width: 50px;
    }

    .top-nav-mobile ul {
        width: 243px;
        height: 214px;
    }

    .top-nav-mobile.open ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 76px;
        right: 0px;
    }

    .top-nav-mobile.open ul li:hover {
        background-color: #f5f5f5;
    }

    .top-nav-mobile.open ul li {
        font-size: 14px;
        line-height: 40px;
    }

    .top-nav-mobile.open ul a {
        text-decoration: none;
        color: #444;
    }

    .header-bg {
        min-height: 345px;
    }

    .header-bg-text {
        padding-top: 30px;
        color: #fff;
        font-family: Lato;
        font-size: 36px;
        font-weight: 700;
        line-height: 38px;
    }

    .header-bg-link {
        padding-top: 22px;
        color: #a6d6e0;
        font-family: Lato;
        font-size: 24px;
        font-weight: 700;
        line-height: 64px;
    }

    .product-gallery-pizza-delivery-text,
    .product-gallery-salads-text,
    .product-gallery-desserts-text {
        min-height: 150px;
        font-size: 36px;
    }

    .product-gallery-pizza-delivery-link,
    .product-gallery-salads-link,
    .product-gallery-desserts-link {
        min-width: 142px;
        max-width: 300px;
    }

    .menu-description-upper {
        font-size: 40px;
    }

    .menu-description-low {
        font-size: 20px;
    }

    .menu-food-description-text,
    .menu-bar-description-text {
        padding: 23px 0px 23px 38px;
        font-size: 40px;
    }

    .menu-food-title {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .menu-food-description {
        margin-top: 20px;
    }

    .menu-food-main-position {
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .menu-food-title-text {
        font-size: 30px;

    }

    .menu-food-main-position-name,
    .menu-food-main-position-price {
        font-size: 27px;
    }

    .menu-food-main-position-description {
        padding-top: 21px;
        font-size: 18px;
    }

    .footer {
        margin: 100px 0px 50px 0px;
    }

    .footer-text {
        padding: 28px 0px;
        font-size: 18px;
        line-height: 26px;
    }

    .icon-size {
        height: 50px;
        width: 50px;
    }
}

@media all and (min-width: 980px) and (max-width: 1199px) {
    .container {
        padding: 0 38px;
    }

    .top-nav-mobile {
        display: none;
    }

    .top-nav-desktop {
        background-color: #373c3f;
        display: flex;
        justify-content: space-between;
    }

    .top-nav-desktop {
        display: flex;
        align-items: center;
    }

    .top-nav-desktop-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 600px;

    }

    .top-nav-desktop-menu a {
        text-transform: uppercase;
        text-decoration: none;
        color: #ebebeb;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
    }

    .top-nav-desktop-logo {
        padding: 8px 0px;
    }

    .header-bg {
        min-height: 530px;
    }

    .header-bg-text {
        padding-top: 64px;
        color: #fff;
        font-family: Lato;
        font-size: 54px;
        font-weight: 700;
        line-height: 64px;
    }

    .header-bg-link {
        padding-top: 57px;
        font-size: 34px;
    }

    .product-gallery {
        display: none;
    }

    .product-gallery-desktop {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .product-gallery-desktop-pizza,
    .product-gallery-desktop-salads,
    .product-gallery-desktop-desserts {
        width: 33.33%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-family: Lato;
        font-size: 43px;
        font-weight: 700;
        line-height: 44px;
    }

    .product-gallery-desktop-pizza {
        background: url(../images/Pizza_delivery_fon.jpg) no-repeat;
        background-size: cover;
        min-height: 327px;
    }

    .product-gallery-desktop-salads {
        background: url(../images/UAUX_Salads_fon.jpg) no-repeat;
        background-size: cover;
        min-height: 327px;
    }

    .product-gallery-desktop-desserts {
        background: url(../images/Desserts_fon.jpg) no-repeat;
        background-size: cover;
        min-height: 327px;
    }

    .menu-description {
        padding-top: 20px;
        padding-bottom: 11px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .menu-description-logo {
        display: inline;
    }

    .menu-description-text {
        font-family: Lato;
        font-weight: 400;
    }

    .menu-description-upper {
        color: #3f4043;
        font-size: 34px;
        text-transform: uppercase;
    }

    .menu-description-low {
        color: #cbccce;
        font-size: 20px;
    }

    .menu {
        display: flex;
        flex-flow: row;
    }

    .menu-food,
    .menu-bar {
        width: 50%;
    }

    .menu-food-description-text,
    .menu-bar-description-text {
        padding: 27px 0px 23px 19px;
        font-size: 34px;
    }

    .menu-food-title {
        padding-top: 29px;
        padding-bottom: 29px;
    }

    .menu-food-title-text {
        font-size: 26px;
    }

    .icon-size {
        width: 42px;
        height: 42px;
    }

    .menu-food-main-position-name,
    .menu-food-main-position-price {
        font-size: 24px;
        font-weight: 400;
    }

    .menu-food-main-position-description {
        padding-top: 17px;
        font-size: 16px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 0px 7px 30px;
    }

    .footer-logo {
        display: inline;
    }

    .footer-text {
        width: 800px;
        font-size: 18px;
    }
}

@media all and (min-width: 1200px) {
    .container {
        padding: 0 38px;
    }

    .top-nav-mobile {
        display: none;
    }

    .top-nav-desktop {
        background-color: #373c3f;
        display: flex;
        justify-content: space-between;
    }

    .top-nav-desktop {
        display: flex;
        align-items: center;
    }

    .top-nav-desktop-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 600px;

    }

    .top-nav-desktop-menu a {
        text-transform: uppercase;
        text-decoration: none;
        color: #ebebeb;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
    }

    .top-nav-desktop-logo {
        padding: 8px 0px;
    }

    .header-bg {
        min-height: 530px;
    }

    .header-bg-text {
        padding-top: 58px;
        font-size: 62px;
        font-weight: 700;
        line-height: 64px;
    }

    .header-bg-link {
        padding-top: 53px;
        font-size: 38px;
    }

    .product-gallery {
        display: none;
    }

    .product-gallery-desktop {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .product-gallery-desktop-pizza,
    .product-gallery-desktop-salads,
    .product-gallery-desktop-desserts {
        width: 33.33%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-family: Lato;
        font-size: 43px;
        font-weight: 700;
        line-height: 44px;
    }

    .product-gallery-desktop-pizza {
        background: url(../images/Pizza_delivery_fon.jpg) no-repeat;
        background-size: cover;
        min-height: 400px;
    }

    .product-gallery-desktop-salads {
        background: url(../images/UAUX_Salads_fon.jpg) no-repeat;
        background-size: cover;
        min-height: 400px;
    }

    .product-gallery-desktop-desserts {
        background: url(../images/Desserts_fon.jpg) no-repeat;
        background-size: cover;
        min-height: 400px;
    }

    .menu-description {
        padding-top: 20px;
        padding-bottom: 11px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .menu-description-logo {
        display: inline;
    }

    .menu-description-text {
        font-family: Lato;
        font-weight: 400;
    }

    .menu-description-upper {
        color: #3f4043;
        font-size: 40px;
        text-transform: uppercase;
    }

    .menu-description-low {
        color: #cbccce;
        font-size: 20px;
    }

    .menu {
        display: flex;
        flex-flow: row;
    }

    .menu-food,
    .menu-bar {
        width: 50%;
    }

    .menu-food-description-text,
    .menu-bar-description-text {
        padding: 23px 0px 23px 19px;
        font-size: 40px;
    }

    .menu-food-title {
        padding-top: 29px;
        padding-bottom: 29px;
    }

    .menu-food-title-text {
        font-size: 30px;
    }

    .icon-size {
        width: 42px;
        height: 42px;
    }

    .menu-food-main-position-name,
    .menu-food-main-position-price {
        font-size: 27px;
        font-weight: 400;
    }

    .menu-food-main-position-description {
        padding-top: 17px;
        font-size: 18px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 0px 7px 30px;
    }

    .footer-logo {
        display: inline;
    }

    .footer-text {
        width: 800px;
        font-size: 18px;
    }
}
